body {
  font-family: 'Roboto', 'sans-serif';
}

h1 {
  font-size:50px !important;
}

.main {
  padding: 70px;     /* Custom padding */
}

.flex-center {
  justify-content: center;
}

.flex {
  display: flex;
}

input[type="checkbox"] {
  margin-right: 10px;
}

.table.is-hoverable tbody tr {
  cursor: pointer;
}

input[type="radio"] {
  /* Adjust the scale factor as needed; 1.5 is an example that makes it 50% larger */
  transform: scale(1.5);
  /* Optional: Adjust the margin to ensure the larger radio buttons don't overlap other elements */
  margin: 10px;
}

.cursor:hover {
  cursor: pointer;
}

.answer-4 {
  flex: 1 1 50%;
  margin-bottom: 10px;
}

@media (max-width: 769px) {
  .section {
    padding-left:0;
    padding-right:0;
  }
  .main {
    padding-left:10px;
    padding-right:10px;
  }

  .answer-4 {
    flex: 1 1 100%;
  }

}
